@model SchoolWork.Models.RoleAssigned
@{
    Layout = null;
}

<script type="text/javascript">
    $('.delete').on('click', function () {
        var container = $(this).closest('.assessmentRow');
        container.remove();
    });
</script>

@using ("RoleAssigned", "SchoolAdmin", FormMethod.Post, new { enctype = "multipart/form-data" })
{
<div class="assessmentRow">
    @*@Html.HiddenFor(m => m.Id, new { @class = "Id" })*@
    @Html.DropDownListFor(m => m.Sub_ID, Model.Sub_Name, "Please Select A Subject", new { @class = "form-control", @onchange = "Education(this.value);" })
    <button type="button" class="delete">Delete</button>
</div>
}
